@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Poetsen+One&display=swap');

:root {
    --primary-color: #0E21A0   ;
    --secondary-color: #4D2DB7 ;
    --accent1-color: #9D44C0;
    --accent2-color: white;
  
    --heading-font: "Poetsen One";
    --paragraph-font: "DM Serif Text";
  
    --headline-color-on-white: #0E21A0;
    --headline-color-on-color: white; 
    --paragraph-color-on-white: #0E21A0; 
    --paragraph-color-on-color: white; 
    --paragraph-background-color: #0E21A0  ;
    --nav-link-color: white;
    --nav-background-color: #4D2DB7;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #9D44C0;
  }


body {
  margin: 0;
  font-family: var(--paragraph-font);
}
.logo{
  width: 80px;
}
header{
  background-color: #0E21A0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
nav a {
  text-align: center;
  font-size: 1.4em;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 35px;
}
nav a:hover {
  background-color: var(--nav-hover-background-color);
}
#hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#hero-box {
  position: relative;
}
#hero-img {
  width: 100%;
  display: block;
}
#hero-title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--accent2-color);
  background: rgba(0,0,0,0.5);

}
.home-title {
  font-size: 8em;
  font-family: var(--heading-font);
  color: var(--accent2-color);
}
.home-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}
.starry-background{
  width: 100%;
  display: block;
}
.home-paragraph{
  font-size: 1.7em;
  line-height: 1.6;
}
footer{
  background-color: var(--primary-color);
  text-align: center;
  padding: 10px 0;
}
footer a{
  color: var(--accent2-color);
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
